extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Celiac's
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Diabetes Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p Celiac's disease is an immune reaction to eating gluten, which is a protein found in many "whole" grains. Eating gluten disrupts the function of the small intenstine causing pain and over time damages the small intestine's ability to absorb nutrients. This can lease to discomfort, diarrhea, as well as weight loss. As the ability to absorb nutrients drops, other life functions will suffer with similar effects of malnourishment. Following a diet that avoids gluten will manage symptoms and promote healthy small intestine function.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Nuts in their unprocessed form
          tr
            td
              | Fresh eggs
          tr
            td
              | Fresh meat, fish, and poultry that is not breaded, batter coated or marinated
          tr
            td
              | Fruits and vegetables
          tr
            td
              | Dairy products
          tr
            td
              | Gluten free flours
                  
    #avoid
    h2 Foods to Avoid
    p Note: Any of these foods are acceptable if they are explicitly marked Gluten Free
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Many grains including: wheat, barley, bulgur, durum, farina, graham flour, malt, rye, semolina, and spelt
          tr
            td
              | Beer
          tr
            td
              | Breads
          tr
            td
              | Pastries, cookies, and crackers
          tr
            td
              | Cereals
          tr
            td
              | Pastas
          tr
            td
              | Processed foods such as potato and tortilla chips
          tr
            td
              | Sauces
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://allrecipes.com/recipes/healthy-recipes/special-diets/gluten-free/") allrecipes
          |  has a whole category for gluten free foods ranging from desserts, to meals, to sauces and sides.
      li
        p
          a(href="http://www.foodnetwork.com/topics/gluten-free-recipes.html") The Food Network
          |  also has a wide range of gluten free recipes made by their signature chefs.

    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.mayoclinic.org/diseases-conditions/celiac-disease/basics/definition/con-20030410") Mayo Clinic
          |  has resources for people with Celiac's disease including symptoms, treatments, and lifestyle changes.
      li
        p
          a(href="http://www.webmd.com/digestive-disorders/celiac-disease/celiac-disease") WebMD
          |  provides another perspective on gluten free living, including articles talking about how people with multiple restrictive diets can live and eat.