extends layout

block link
  -var selected = 'Competitor Comparison';

block content
  div(class="content")
    h1 Competitor Comparison
    h2 How does medhealthdiets compare to similar websites?
    table
      tr
        th 
        th medhealthdiets
        th WebMD
        th 
          | Mayo Clinic
          br
          | Website
        th Blogs
        th 
          | Diet News
          br
          | Articles
      tr
        td Diet Information
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td Disease Information
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
      tr
        td 
          | Diet and Disease
          br
          | Information
          br
          | Together
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10007;
      tr
        td
          | Information About
          br
          | Multiple Diets
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10007;
      tr
        td
          | Recipes For Foods
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td
          | External Resources
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;

    h3 WebMD
    h4 Information Overload
    p
      | WebMD has information about almost every medical condition you can think of, which makes it hard to sift through all of the information available. As opposed to many distinct articles about the same thing, medhealthdiets hopes to combine all the relevant information about a medical diet into one page. For example, WebMD currently has many articles about a low-sodium diet including how to eat low-sodium at restaurants, the foods you should eat, and the foods you should avoid. Medhealthdiets hopes to have all the relevant information on the same page so you don't have to look everywhere for the information you need.
    h4 Disjoint Information
    p
      | WebMD may have many resources about the diets themselves, but medhealthdiets hopes to tie together the diet with the disease it's used to help control. Instead of scattered information which may leave you not knowing why you're following the particular diet for your disease, medhealthdiets will explain why you're eating a certain way, and the mechanisms that make the diet help with your condition.
    
    h3 Mayo Clinic
    h4 
    p
      | Test
    h3 Blogs
    p
      | Test
    h3 Diet News Articles
    p
      | Test  