extends layout

block link
  -var selected = 'Competitor Comparison';

block content
  div(class="content")
    h1 Competitor Comparison
    h2 How does medhealthdiets compare to similar websites?
    table
      tr
        th 
          | Website
          br
          | (Click to view comparison)
        th medhealthdiets
        th 
          a(href='#webmd') WebMD
        th 
          a(href='#mayoclinic')
            | Mayo Clinic
            br
            | Website
        th 
          a(href='#blogs') Blogs
        th 
          a(href='#newsarticles')
            | Diet News
            br
            | Articles
      tr
        td Diet Information
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td Disease Information
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
      tr
        td 
          | Diet and Disease
          br
          | Information
          br
          | Together
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10007;
      tr
        td
          | Information About
          br
          | Multiple Diets
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10007;
      tr
        td
          | Recipes For Foods
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td
          | External Resources
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;
    #webmd
      h3 WebMD
      h4 Information Overload
      p
        | WebMD has information about almost every medical condition you can think of, which makes it hard to sift through all of the information available. As opposed to many distinct articles about the same thing, medhealthdiets hopes to combine all the relevant information about a medical diet into one page. For example, WebMD currently has many articles about a low-sodium diet including how to eat low-sodium at restaurants, the foods you should eat, and the foods you should avoid. Medhealthdiets hopes to have all the relevant information on the same page so you don't have to look everywhere for the information you need.
      h4 Disjoint Information
      p
        | WebMD may have many resources about the diets themselves, but medhealthdiets hopes to tie together the diet with the disease it's used to help control. Instead of scattered information which may leave you not knowing why you're following the particular diet for your disease, medhealthdiets will explain why you're eating a certain way, and the mechanisms that make the diet help with your condition.
    #mayoclinic
      h3 Mayo Clinic
      h4 Lack of Diet Information 
      p
        | While Mayo Clinic does have comprehensive medical insight into the science and medicine behind many diseases, it does not address how diets may be used to deal with them. It does however have a single weight loss diet that it supports aptly dubbed "The Mayo Clinic Diet". Medhealthdiets wants to provide the medical backgorund about diseases just as Mayo Clinic does, and will refer to Mayo Clinic for disease information frequently. Disease information however is not the only goal of medhealthdiets, as we want to address how different diets would help dealing with diseases.
      h4 Too Much Disease Depth
      p
        | Mayo Clinic's website is all about educating their visitors about the diseases they have. While medhealthdiets also wants to educate its visitors about their diseases, it wants to focus on the dietary aspect of the lifestyle change necessary to deal with their disease. Medhealthdiets also hopes to provide resources that will allow visitors to easily make their lifestyle change with a support group of real people to ask questions and share experiences with.
    #blogs
      h3 Blogs
      h4 Too Personal?
      p
        | Sometimes a personal anecdote is what you need. It should be noted though that sometimes personal anecdotes that claim correlation are not always founded upon scientific study. Knowing what others with your disease are doing to cope is also important, however sometimes they too can get things wrong. At medhealthdiets we hope to inform you what is "right" according to current scientific knowledge and let you decide if it's worth it to change your diet in a certain way.
      h4 May Be Misleading
      p
        | While Blogs at times have a lot of good quality information, sometimes they spread popular claims that aren't well researched. At medhealthdiets we hope to avoid that by providing reliable sources and linking users to trusted external material about various things. Mayo Clinic is an excellent resource for disease information, recipes.com is an excellent resource for recipes, and blogs are great for anecdotal evidence and support, medhealthdiets aims to be all of these and more by linking to the pertinent external resources and doing research of our own.
    #newsarticles
      h3 Diet News Articles
      h4 Narrow and Informal
      p
        | A diet news article may only have information on one aspect of a diet. While it may be nice to know the 10 foods you can't eat, or the 10 foods that are perfect for your diet, it's probably good to know why and how these foods should and shouldn't be integrated into your diet. Maybe you can eat more salt if you increase your fluid intake. Maybe you can eat those chips if you offset it with exercise. We hope to inform you of these tradeoffs as well as show you what you can do and what other people have done with those foods in recipes.  
      h4 Scattered
      p
        | The information in diet news articles are very targeted to specific audiences, as are medhealthdiets articles, however diet news articles only provide a small update to the knowledgebase of information about a diet. The information they provide may be something previously unknown, but when readers are trying to look for advice in how to live their life with an augmented diet, it's important that they know enough to make the decision on what to do on their own. At medhealthdiets we strive to give our viewers options and suggestions instead of cut and dry do's and dont's. It's your life, make educated decisions and decide how to live it yourself.