extends layout

block link
  -var selected = 'Competitor Comparison';

block content
  div(class="content")
    h1 Competitor Comparison
    h2 How does medhealthdiets compare to similar websites?
    table
      tr
        th 
        th medhealthdiets
        th WebMD
        th 
          | Mayo Clinic
          br
          | Website
        th Blogs
        th 
          | Diet News
          br
          | Articles
      tr
        td Diet Information
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td Disease Information
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
      tr
        td 
          | Diet and Disease
          br
          | Information
          br
          | Together
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10007;
      tr
        td
          | Information About
          br
          | Multiple Diets
        td &#10003;
        td &#10003;
        td &#10003;
        td &#10007;
        td &#10007;
      tr
        td
          | Recipes For Foods
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;
      tr
        td
          | External Resources
        td &#10003;
        td &#10007;
        td &#10007;
        td &#10003;
        td &#10003;

    h3 WebMD
    p
      | Test
    h3 Mayo Clinic
    p
      | Test
    h3 Blogs
    p
      | Test
    h3 Diet News Articles
    p
      | Test