extends layout

block link
  -var selected = 'Contact';

block content
  div(class="content")
    h1 Contact Page
    h2 Who am I?
    p I am a Stanford student completing CS73N: The Business of the Internet. I've been motivated to create this site after struggling to find information about a medical health diet that would work for me after I was diagnosed with Cystinuria.
    p email: info@medhealthdiets.com
    h2 Other websites
    p Other websites I'm currently managing:
    ul
      li
        a(href="http://www.streamdine.com") Streamdine
        | : A website that I'm making for another one of my startups, Streamdine which hopes to streamline the restaurant industry.
        
      li
        a(href="http://www.louisbrion.com") louisbrion.com
        | : Currently mirrors streamdine.com. In the future this will be an online resume and portfolio.