extends layout

block nav-bar
  ul(class='tabrow')
        li
          a(href='/') Home
        li 
          a(href='/diets') Diets
        li
          a(href='/about') About
        li(class='selected')
          a(href='/contact') Contact

block content
  div(class="content")
    h1 Contact Page