extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Cystinuria
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Diabetes Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p Cystinuria is a condition where your kidneys can't break down the amino acid cysteine. This results in a buildup of cysteine in the kidney in the form of a kidney stone. If this buildup gets too large, kidney function may worsen, and surgery might be necessary. In order to avoid this, simply avoid foods that contain high concentrations of cysteine, as well as hydrate yourself to reduce the concentration so cysteine can't precipitate in the kidneys.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Plant foods
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Dairy products
          tr
            td
              | Meats
          tr
            td
              | Eggs
          tr
            td
              | Quinoa, buckwheat
          
    #recipes
    h2 Sample Recipes
    
    p Following a vegan or vegetarian diet will allow you to avoid cysteine as much as possible, and there are many vegan and vegetarian resources that can be found with a simple online search!

    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.cystinuria.com") Cystinuria.com
          |  has up to date information about cystinuria science.
      li
        p
          a(href="http://www.cystinuria.org/forums") Cystinuria.org
          |  's forums have a lot of good discussion about living with the condition.