extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1 Diets
    p Here is an alphabetical list of the diets that we have information on. Check back regularly for updates!
    ul
      li
        a(href="/diets/alzheimers") Alzheimer's Disease
      li
        a(href="/diets/eyesight") Bad Eyesight
      li
        a(href="/diets/celiacs") Celiac's Disease
      li
        a(href="/diets/cystinuria") Cystinuria
      li
        a(href="/diets/diabetes") Diabetes
      li
        a(href="/diets/heart") Heart Disease
      li
        a(href="/diets/highbloodpressure") High Blood Pressure
      li
        a(href="/diets/kidney") Kidney Disease
      li
        a(href="/diets/liver") Liver Disease
      li
        a(href="/diets/lowsodium") Low Sodium
      li
        a(href="/diets/thyroid") Thyroid Disease
      li
        a(href="/diets/weightloss") Weight Loss
