extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Eyesisght
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Diabetes Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p Although carrots have been the anecdotal eyesight promoting food, researchers have recently found that the compounds lutein and zeaxanthin help increase pigment density in the macula leading to increased retina protection and more reliable longer lasting eyesight. These compounds are found in particularly high concentrations in leafy greens. Vitamin A, something found in high concentrations in carrots, giving them their signature orange color, have also been shown to help with eyesight improvement. Eating highly-processed store bought foods high in saturated fats contributes to macular degeneration which can lead to damaged retinas that cause eyesight to degenerate. This is because saturated fats clog the blood vessels in the eyes preventing it from getting adequate blood flow.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Row 1
            td
              | Pink and red grapefruit
          tr
            td
              | Row 1
            td
              | Green and black teas
          tr
            td
              | Row 1
            td
              | Whole grains
          tr
            td
              | Row 1
            td
              | Seeds and nuts
          tr
            td
              | Row 1
            td
              | Fish at least twice a week
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Row 1
            td
              | White foods that have been processed or bleached
          tr
            td
              | Row 1
            td
              | Foods high in saturated fats and sugar
          tr
            td
              | Row 1
            td
              | Fatty red meats
          tr
            td
              | Row 1
            td
              | Margarine
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://www.aoa.org/patients-and-public/caring-for-your-vision/recipes-for-healthy-eyes?sso=y") The American Optometric Association 
          |  has resoruces and sample meals to maintain healthy eyes.
      li
        p
          a(href="http://www.eyefoods.com/Eye-FoodsRecipes/eyefoods_recipes.html") Eyefoods
          |  has recipes for meals whose target is for you to get your daily recommended dosages of lutein and zexanthin, unsaturated healthy fats, as well as vitamins required for good eye health.
      li
        p
          a(href="http://www.allaboutvision.com/recipes/") Allaboutvision
          |  has general recipes for healthy eyes as well.
    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.aoa.org") The American Optometric Association
          |  has the latest news on eye research, and is an excellent source for scientific information about eyesight and eye health.