extends layout

block link
  -var selected = 'Future Development';

block content
  div(class="content")
    h1 MedHealthDiets plans for the future
    h2 Images
    p
      | Since I was pressed for time and unsure about the costs of hosting pictures on the website, I didn't include many other than the banner. The video itself is an iframe that uses YouTube's bandwitdh and servers, so I didn't have to worry about that. In the future I would try to put a picture of all the foods on the lists to eat and not to eat, as well as some diagrams of the problems that occur in the body causing each disease to happen. I would also like to include more graphics in things like the business plan, and have icons for each of the sections of the quick links. Given more time and graphic design experience I think this would be possible. One thing to consider would be external hosting of the images and just statically linking them into the web page to reduce costs.
    h2 Advertisements
    p
      | The Amazon Web Services instance used to host this site costs quite a bit of money to maintain if there are frequent visitors to the site. Currently on free tier hosting, it is costing ~$5 per month to keep everything up and running. In the future this cost should be offset by advertisements either by the traditional banner advertisements, or by specific product reviews that companies come to Med Health Diets to review.
    h2 More Diets
    p
      | The Diets page is a bit ambitious listing all the letters of the alphabet from A-Z right now, which is set up so that in the future more diets can be added so that eventually every medical diet will be covered. The ultimate goal of this website is to host information and resources to everything a person would need to know in order to change their lifestyle and eating habits to suit what their doctor had diagnosed them with.
    h2 More Personalized Features
    p
      | One thing that can be troublesome is maintaining multiple diets at the same time. When you have multiple conditions, the foods that you should and shouldn't eat aren't as cut and dry. The combinations of foods from different diets have to be taken into account, making more specialized recipes, and significantly different lifestyle changes. In the future we would like to create a web application that would help people keep track of what foods they can and can't eat, what foods they have eaten, and be able to filter and share their results with other members of the MedHealthDiets community.