extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title High Blood Pressure
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") High Blood Pressure Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p High blood pressure can be caused by a variety of things, including genetic inheritence, diet, and stress. Eating a diet that lacks fatty acids that can clog your arteries helps lower blood pressure. Potassium has been shown to help lower blood pressure significantly. 
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Whole Grain Foods
          tr
            td
              | Unsalted Pretzels
          tr
            td
              | Green Leafy Vegetables
          tr
            td
              | Fat-free Dairy Products
          tr
            td
              | Beans
          tr
            td
              | Nuts
          tr
            td
              | Sorbets and Ices
          tr
            td
              | High Volumes of Water
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Fatty Dairy Products
          tr
            td
              | Junk Food
          tr
            td
              | High Sodium Foods
          tr
            td
              | Processed Foods - often high in Sodium
          tr
            td
              | High Volumes of Alcohol
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://www.heart.org/HEARTORG/Conditions/HighBloodPressure/Low-Sodium-Recipes_UCM_306800_Article.jsp") heart.org
          |  has a list of healthy recipes for those with high blood pressure, specifically looking at low sodium.
      li
        p
          a(href="http://www.eatingwell.com/recipes_menus/collections/high_blood_pressure_diet") Eatingwell
          |  has many recipes that help lowering your blood pressure, including their own high blood pressure cook book.
    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.heart.org") heart.org
          |  focuses on heart health and ways to live a heart healthy lifestyle.
      li
        p
          a(href="http://www.mayoclinic.org/diseases-conditions/high-blood-pressure/in-depth/high-blood-pressure/art-20046974") Mayo Clinic
          |  has a good article here about managing high blood pressure without medication. Some of these tips deal with the diet as well as other aspects of life that will lower your risk for high blood pressure.