extends layout

block link
  -var selected = 'Home';

block content
  div(class="content")
    p Welcome to medhealthdiets, a comprehensive source of information and other resources about medical health diets.
    .quick-link-list
      ul(class="quick-link-list")
        li
          a(href="#who") Is this the right place for me?
        li
          a(href="#why") Why medhealthdiets?
        li
          a(href="#what") What should I be expecting?
    iframe(width="420" height="315" src="//www.youtube.com/embed/R1j5NhbEROw" frameborder="0" allowfullscreen)
    p Thank you for visiting the site, we hope you come back multiple times throughout your life for reminders on maintaining your medical diet lifestyle. From time to time the different pages will be updated with new information, recipes, and communities that we find. After viewing the site yourself, feel free to share it with your doctor or other friends with similar disorders so everyone can be better informed in how to better manage their disease. 
    #who
      h3 Is this the right place for me?
      p The target audience of this website is the group of adults that are recommended by their doctors to follow a diet as a means of having a healthier lifestyle. This site offers a simple interface with straightforward navigation. We are going to treat you like adults, faced with decisions that you need to be educated about. While you might have common knowledge about your condition and food in general, you might need some more information about the particular medical diet that you have been suggested to be on. If you have been diagnosed with a lifelong disease that can be managed or mitigated by a certain diet, this website is definitely for you! Whether it be high cholesterol, high blood pressure, or another disease we hope to provide up to date information about your disease and the options open to you as a diet so you can make the best decisions about what you eat!
    #why
      h3 Why medhealthdiets?
      p If you google "medical diets" today you get an assortment of unorganized resources of actual meical diets mixed in with advertisements promising quick weight loss through endoresed weight loss programs. It is not easy to find an up to date resource that contains information about a newly prescribed medical diet, the medical world changes often as new information is discovered and new interactions between food and the body are observed. Adults that are advised to go under a certain diet are currently limited to the pamphlets they recieve from their doctor, or other websites that they might happen upon by word of mouth or heavy searching. Often times those websites aren't as indepth as they need to be to change their eating lifestyle around. This site aims to fulfill the need for a centralized hub of information for medical health diets for those people by providing the relevant information they can use now as well as external resources to learn more information if they so desire.
    #what
      h3 What should I be expecting?
      p This site will have a simple layout similar to the layout of this home page. There will be a navegation bar at the top to access different parts of the website on every page. In each article about the medical health diet there will be a small navigation menu at the top of the article leading to the various parts of the article pertaining to things like what foods to eat and avoid, resources, and other tips. Each page should contain basic medical information about the diet as well as a brief history of the diet. The page will also contain the list of foods to eat and avoid with basic information on where to find those as well. Each diet page should be in roughly the same format.