extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Kidney Function
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Kidney Disease Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p The kidneys are the organs that filter out the fluids in your body. They remove wastes such as excess nutrients and dietary protein. As the kidneys work, their ability to do further work is impacted. People at risk of kidney failure either have a genetic disorder that disrupts kidney function or are ingesting too many things that the kidney has to filter. In both situations, reducing what the kidney has to filter helps improve kidney function.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | In general, low protein, low phosphorous diet
          tr
            td
              | Samll portions of protein rich foods at a cold temperature
          tr
            td
              | Berries
          tr
            td
              | Egg whites
          tr
            td
              | Fish
          tr
            td
              | Olive oil
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Salts
          tr
            td
              | Canned vegetables
          tr
            td
              | Processed meats
          tr
            td
              | Crackers and other salty snacks
          tr
            td
              | Pickled foods
          tr
            td
              | High phosphorous foods: dairy, beans, nuts, colas, egg yolks
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://www.davita.com/recipes/") davita.com
          |  has recipes that deal specifically with kidney disease.
      li
        p
          a(href="http://www.kidney.org/patients/kidneykitchen/recipes.cfm") kidney.org
          |  has recipes that promote kidney health in general.
      li
        p
          a(href="http://www.renalinfo.com/us/resources/recipes/") renalinfo
          |  also has kidney related recipes.

    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.davita.com") davita.org
          |  focuses on kidney disease education. You can find out more about what sort of kidney problems you are having as well as get insight on how to deal with those disorders.
      li
        p
          a(href="http://www.kidney.org/") kidney.org
          |  is another kidney health website run by the national kidney foundation. They help fundraise and spread awareness about kidney related disease, as well as help fund kidney research.