head
  title= "MedHealthDiets.com your source for medical diet information"
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='icon', href='/images/icon.png')

body
  div(class='body_container')
    div(class='banner')
      a(href='/')
        img(src='/images/logo.png')
    div(class='header_container')
      block link
        -var selected = 'Home';

      -var menu = {'Home': '/', 'Diets': '/diets', 'About': '/about', 'Contact': '/contact', 'Competitor Comparison': '/competitorcomparison'};

      ul(class='tabrow')
        each val, key in menu
          if selected === key
            li(class='selected')
              a(href = val)= key
          else
            li
              a(href=val)= key
    div(class="sidebar")
    div(class="content")
      block content