extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Liver Disease
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Liver Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p The liver is the organ that removes toxins from your body by neutralizing them. If the liver is not running at full capacity your body will be more susceptible to poisoning and will be slower to remove things like pollution and alcohol from your body. A diet that avoids substances that the liver has to remove is recommended.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Increased carbohydrate intake
          tr
            td
              | High fiber foods
          tr
            td
              | Kernel oil
          tr
            td
              | Cabbage family plants (cauliflower, broccoli, cabbage)
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Salt
          tr
            td
              | Bacon, sausage and deli meats
          tr
            td
              | Canned vegetables and vegetable juice
          tr
            td
              | Frozen dinners
          tr
            td
              | Soy, barbecue, and terriyaki sauces
          tr
            td
              | Soups
          tr
            td
              | Alcohol
          tr
            td
              | Uncooked shellfish
          tr
            td
              | High sugar and fat foods
          tr
            td
              | Foods high in iron
          tr
            td
              | Cigarettes and cannabis
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://www.liversupport.com/wordpress/recipes/") liversupport 
          |  has resources that promote healthy liver function.
      li
        p
          a(href="http://www.livercleansing-diet.org/liver-diet/") livercleansing
          |  has resource and recipes for those that specifically want to rebuild or train their liver after having had liver problems in the past.
      li  
        p
          a(href="http://juicerecipes.com/health/conditions/juicing-for-liver-disease/") JuiceRecipes
          |  has a good section of juices you can make to help improve liver function.
    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.liver.ca") liver.ca
          |  is a Canadian website that promotes healthy lifestyles for a healthy liver.
      li
        p 
          a(href="http://www.liversupport.com/wordpress/recipes/") liversupport
          |  is a blog that shares liver rehabilitation stories.