extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Low Sodium
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Low Sodium Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p A low sodium diet could be perscribed for a variety of reasons. High sodium in the body can lead to dehydration, which can cause mental and muscular fatigue. High sodium can also strain kidney function. The cardio vascular system can also be damaged by too much sodium. Although sodium is a necessary element for our body, having too much of it can cause serious health issues.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | High fiber foods help with high sodium related disorders
          tr
            td
              | Limited sodium intake to the recommended daily value for your height and weight
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Salts
          tr
            td
              | Mixed seasonings and spice blends
          tr
            td
              | Processed foods
          tr
            td
              | Canned foods and frozen dinners
          tr
            td
              | Alcoholic beverages
          tr
            td
              | Soy sauce
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://mayoclinic.org/healthy-living/recipes/low-sodium-recipes/rcs-20077197") Mayo Clinic
          |  has many low sodium recipes and more information about conditions that low-sodium diets could benefit from.
      li
        p
          a(href="http://www.heart.org/HEARTORG/Conditions/HighBloodPressure/Low-Sodium-Recipes_UCM_306800_Article.jsp") Heart.org
          |  also has many low sodium recipes that also benefit heart health.
    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.heart.org/") Heart.org
          |  has information about how low sodium diets can help lower blood pressure.
      li
        p
          a(href="http://www.webmd.com/food-recipes/features/salt-sodium") WebMD
          |  has an excellent article on how reading salt levels in foods could be very beneficial to your life and health in general.
      li
        p
          a(href="http://www.livestrong.com/article/279132-low-sodium-diet-benefits/") livestrong
          |  has information on how sodium restricted diets could also help with weight loss.