extends layout

block link
  -var selected = 'Making of MHD';

block content
  div(class="content")
    h1 The Making of MedHealthDiets: Technical Side
    p
      | In making MedHealthDiets, I not only learned how to write for the web, but also how to work with many different tools that turn into a successful web deployment. Aside from the hundreds of lines of text that I have written, there are also hundreds of lines of code behind that making up the javascript, markup, styling, and routing of the website. This class has been an excellent opportunity to develop both my online and code writing abilities.
    h2 Servers
    p
      | I learned how to deploy to a server using a node.js application on Amazon Web Services.
    p
      | The process consisted of the following: 
    ul(type='1')
      li Creating a node.js application containing the routing to the different pages of MHD.
      li Creating the views (pages) as well as the associated css and templates that span throughout the site.
      li Uploading them to the Amazon Webservices Server
      li Debug, test, and incrementally repeat steps 2 and 3 until the website was done.

    h2 Learning node.js and jade
    p
      | In order to do this project, I had to learn the server-side node.js code to implement the routing and request management. I also had to learn JADE, which is modified templating language based off of HTML that removes a lot of the clutter from HTML code. It also allows more funcionality like variables and templates for HTML elements that are repetitive or dynamic from page to page. An example of this would be the the highlighting of the tabs in the navegation bar depending on which page you're on.