extends layout

block link
  -var selected = 'Making of MHD';

block content
  div(class="content")
    h1 The Making of MedHealthDiets
    p
      | In making MedHealthDiets, I not only learned how to write for the web, but also how to work with many different tools that turn into a successful web deployment. Aside from the hundreds of lines of text that I have written, there are also hundreds of lines of code behind that making up the javascript, markup, styling, and routing of the website. This class has been an excellent opportunity to develop both my online and code writing abilities.
    h2 Servers
    p
      | a
    h2 Learning node.js and jade
    p
      | a
    h2 Researching Content and Compiling Information
    p
      | a
    h2 Writing and Formatting the Articles
    p
      | a