
div(style="width:600px")
  p
    | First Impression: 
    br 
    br
    | The website has a nice design, very intense. I like the color of the text with the glowing edges in contrast to the dark background. It makes you feel "strong" and intense just by visiting. The tagline "Get Swole @ Stanford" clearly expresses the intent of the site and is one of the first things you see. If the intent isn't clear enough, the Stanford logo shows what sort of audience this is about.
  p
    | More in depth: 
    br
    br
    | The deep voice and built physique of the person in the video adds to the ethos of the website. The drop down menus make you feel like you are lifting, as you browse through the categories the movement in the menu gets you pumped up to learn. The navigation bar is organized chronologically and helps the user progress through the process of become a Stanford "swoldier".
  p
    | Navigating through the pages:
    br
    br
    | Although there is no content on the website at the time of writing this review, the picture on each page and white box that will in the future presumably show text is a nice simple layout. If each of the articles have a layout like this I would be more comfortable following this program since it has a consistent format.
  p
    | What to improve on:
    br
    br
    | Aside from adding more content, maybe putting up the CS73N assignments, it's possible that the pictures on each of the articles could be changed up a little bit as well. I see lots of promise in this website, it could eventually be used for advertising Stanford as a school that places an emphasis on a healthy lifestyle. It could also be used to showcase Stanford's athletic facilities and how they are used by real students. It would be interesting in the future to also see a blog portion of this website documenting the creator's journey to being a Stanford swoldier.