
div(style="width:600px")
  p
    | First Impression: 
    br 
    br
    | The above the fold on my monitor seems a bit weird. There is the U.hack() logo and the picture, but the navegation bar is 3/4ths the way down the page for me. It probably isn't as weird on other monitors. Aside from that, there is the top of a YouTube video, however the only information I can see from the front page are the headers in the navigation bar.
  p
    | More in depth: 
    br
    br
    | I like the theme of the website, and the color scheme. The fact that the writer of the website has ties to winners of hackathons themselves adds to the ethos and believability of the website. All of the links in the navegation bar are either broken or under construction. I hope to see more in this site as I am interested in the topic.
  p
    | Navigating through the pages:
    br
    br
    | Although there is no content at the moment, I'm interested in seeing where the website will go, especially since I have very mixed feelings about hackathons myself. Maybe this website will change how I feel about hackathons. I'm wondering about a lot of the same topics that are in the navegation bar, as I had a difficult time getting into hackathons myself and would be wondering if this site could provide readers with some sort of strategy they could use to win.
  p
    | What to improve on:
    br
    br
    | Other than adding articles, I think that more visuals could be a plus. I think a good idea for doing something about hackathons is perhaps more outside resources about hackathons as well as commentary on what other winners of hackathons do. I think one thing that would be worth explaining would be exactly the goal of a hackathon is, since I've talked to many people and they often have different perspectives as to what the point of a hackathon is: to make something cool, to try new software, to make something that will make money. The definition of hackathon to me is very vague at the moment.