extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Thyroid Disease
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Thyroid Disease Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p It is possible to change your diet to improve your auto immune system. Although autoimmune disease research is relatively new and lacks funding, there has been some evidence that the following foods help improve your immune response. Many of these things just provide the correct vitamins that your immune uses as well as prevents inflamation which can help your immune system fight off sickness.
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Green vegetables
          tr
            td
              | Seaweed and sea vegetables
          tr
            td
              | Berries and fresh fruits
          tr
            td
              | Whole grains
          tr
            td
              | Cold water fish
          tr
            td
              | Sushi
          tr
            td
              | White meat
          tr
            td
              | Garlic and onions
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Gluten
          tr
            td
              | Soy protein isolate
          tr
            td
              | Nuts
          tr
            td
              | Kale
          tr
            td
              | Mustard
          tr
            td
              | Coffee
          tr
            td
              | Spinach
          tr
            td
              | Sweet potato
          tr
            td
              | Soy
          tr
            td
              | Proccessed foods
          
    #recipes
    h2 Sample Recipes
    
    ul
      li
        p
          a(href="http://thyroiddietcoach.com/foods-recipes/") Thyroid Diet Coach
          |  has recipes that include the foods listed above.
      li
        p
          a(href="http://thyroidu.com/category/thyroid-healthy-recipes/") Thyroid U
          |  aims to educate readers on how different foods affect your thyroid and also provides good recipes for a healthy thyroid.
      li
        p 
          a(href="http://misslizzy.me/category/foods-for-hypothyroid/") Miss Lizzy
          |  is a blogger that shares her own personal recipes for dealing with her over-active thyroid.
    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.todaysdietitian.com/newarchives/110211p36.shtml") Today's Dietician
          |  explains the modern reasoning for including each of the above foods based on scientific studies.