extends layout

block link
  -var selected = 'Diets';

block content
  div(class="content")
    h1.diet-title Weight Loss
    .quick-link-list
      h2 Quick Links
      ul(class="quick-link-list")
        li
          a(href="#overview") Diabetes Overview
        li
          a(href="#eat") Foods to Eat
        li
          a(href="#avoid") Foods to Avoid
        li
          a(href="#recipes") Some Recipes
        li
          a(href="#links") Helpful Links
    #overview
    h2 Overview
    p Losing weight is a goal of many people. The effects of weight loss are numerous: increased energy, longer lifespan, better internal organ function, and more. Weighing less is also linked to many other positive traits in life and in today's society percieved as a good thing. Many people struggle with weight loss since changing eating habits may be difficult.

    p One of the best ways to lose weight is to simply eat at a caloric deficit. This is usually achieved by either of the following two ways:

    ul
      li Eating smaller portions (less volume) of food daily.
      li Eating foods that have a low caloric density, while eating the same volume.

    p Either way will result in weight loss. Before eating at a caloric deficit, please consult your doctor to see which of the two methods would be better for you. One risk in extreme weight loss by eating less food is not recieving the correct nutrients necessary to maintain normal body functions.
    
    #eat
    h2 Foods to Eat
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Eat
          tr
            td
              | Fruits and vegetables
          tr
            td
              | Fruits containing large amounts of water
          tr
            td
              | Hummus and salsas
          tr
            td
              | Eggs
          tr
            td
              | Nuts
          tr
            td
              | Whole grains
          tr
            td
              | Yogurt
          tr
            td
              | Lean chicken and fish
          tr
            td
              | High fiber foods
                  
    #avoid
    h2 Foods to Avoid
    .food-table
      table
          tr
            td(colspan="2")
              | Foods to Avoid
          tr
            td
              | Sugars
          tr
            td
              | Baked goods
          tr
            td
              | Grains such as breads and pastas
          tr
            td
              | Seed and vegetable oils
          tr
            td
              | Artificial sweeteners
          tr
            td
              | Processed foods
          
    #recipes
    h2 Sample Recipes
    
    p Almost any food is okay to eat when trying to lose weight if you're not on another restricted diet. Any recipe should be fine to eat as long as the foods are eaten in moderation and in small portions.

    p Eating smaller more frequent meals throughout the day is an excellent to losing weight.

    #links
    h2 External Resources

    ul
      li
        p 
          a(href="http://www.reddit.com/r/fitness") reddit
          |  has an excellent fitness community. Exercising along with eating at a caloric deficit is an excellent way to lose weight.
      li
        p 
          a(href="http://www.webmd.com/diet/features/lose-weight-fast-how-to-do-it-safely") WebMD
          |  has a good article on how to lose weight safely over time. Losing weight to quickly could also be detrimental to your health.
      li
        p
          a(href="http://www.health.com/health/gallery/0,,20501331,00.html") health.com
          |  offers great tips on how to change your lifestyle to one more conducive to losing weight.