body {
  background: #99d9ea;
}

.body_container {
  width: 800px;
  height: 512px;
  margin: auto;
  	-webkit-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	   -moz-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	        box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
  background: white;
}

.header_container {
  width: 800px;
  height: 10px;
  margin: auto;
  display: block;
}

.tab_row {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.tab_row li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;
}

.tab_row {
    position: relative;
}
.tab_row:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.nav_bar_item {
  padding: 5px;
  display: inline;
}

iframe {
  display: block;
  margin: auto;
}