body {
  background: #99d9ea;
}

.body_container {
  width: 1024px;
  height: 512px;
  margin: auto;
  	-webkit-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	   -moz-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	        box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
  background: white;
}

.header_container {
  width: 1024px;
  height: 10px;
  margin: auto;
  display: block;
}

.nav_bar {
  list-style-type:none;
  margin:0;
  padding:0;
  float: right;
}

.nav_bar_item {
  padding: 5px;
  display: inline;
}

iframe {
  display: block;
  margin: auto;
}