body {
  background: #99d9ea;
}

.body_container {
  width: 800px;
  height: auto;
  margin: auto;
  	-webkit-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	   -moz-box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
	        box-shadow: 8px 0 8px -10px black, -8px 0 8px -10px black;
  background: white;
}

.banner {
  width: 800px;
  height: 200px;
  background: white;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.header_container {
  width: 800px;
  height: 10px;
  margin: auto;
  display: block;
}
.tabrow {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    float: right;
}
.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;
}

.nav_bar_item {
  padding: 5px;
  display: inline;
}

iframe {
  display: block;
  margin: auto;
}